@model E1___Sosa_Morales.Models.DetalleCompra.DetalleCompraViewModel
@{
    Layout = "_DashboardLayout";
    ViewBag.PageTitle = Model.Module.Title;
    ViewBag.SidebarActive = Model.Module.SidebarActive;
}

@section Styles {
    <link rel="stylesheet" href="~/Public/CSS/DetalleCompra/detalle-compra.css" asp-append-version="true" />
}

<partial name="_ModuleTabs" model="Model.Module" />

<div class="module-placeholder">
    <h2>EN DESARROLLO</h2>
    <p>Modulo <strong>@Model.Module.Title</strong> - proximamente disponible.</p>
</div>

@section Scripts {
    <script src="~/Public/JS/DetalleCompra/detalle-compra.js" asp-append-version="true"></script>
}
